h2.rounded_circle {
  display: none;
}

.rounded_circle {
  width: 30px;
  height: 30px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  justify-content: center;
  display: flex;
  line-height: 32px;
}